/* Medium Layout */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .social-link ul li a {
		padding: 0px 55px 10px 0px;
	}
	.skill-left {
		padding-right: 60px;
	}

	
   
}


/* Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .navbar-nav li {
	padding: 10px 5px;
    }
	
	.caption {
		max-width: 450px;
	}
	
    .action-area .btn {
        margin-top: 15px;
    }
	
    .call-text h3 {
		font-size: 20px;
    }
	
	.about-text {
		margin-top: 30px;
	}
	.subscribe-box p {
		margin-bottom: 20px;
	}
	
}


/* Mobile Layout */

@media only screen and (max-width: 767px) {
    .mb-r img{
		margin-bottom: 30px;
	}
	
	.caption {
		max-width: 450px;
	}

    .section-big {
        padding: 50px 0px 55px;
    }
	.section-title h2 {
		margin-bottom: 20px;
		font-size: 25px;
		padding-bottom: 15px;
	}
	.about-text {
		margin-top: 30px;
	}
    
    .btn, input[type='submit'] {
        margin-bottom: 0px;
        padding: 10px 20px;
    }
	
    img {
        max-width: 100%;
    }
    
    .navbar-toggle {
        margin-right: 0px;
		background: #1ab4f0;
    }
	
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        background: #fff;
    }
	
    .navbar {
        min-height: 0px;
    }
	
    .mainmenu .navbar-nav {
        margin: 0;
		margin-top: 5px;
    }
	
    .mainmenu .navbar-nav li {
        float: none;
        display: block;
		padding: 5px 15px;
		
    }
	
    .mainmenu .navbar-nav li a {
        color: inherit;
		padding: 5px 0px;
    }
	
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        margin: 0 -15px;
        padding: 0;
        box-shadow: 0px 3px 5px 0px #999;
        margin-top: 7px;
    }

	.about-img img {
		margin-bottom: 30px;
		width: 100%;
	}
	
	.about-text h3 {
		margin-top: 0px;
	}
	
    .work-items .item {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }
	
    .filters button {
        margin: 0px 10px;
    }
	
    .action-area .btn {
        margin-top: 15px;
    }

    .price-item p.level {
        margin-bottom: 60px;
    }
	
    .price-item p.price {
        padding-bottom: 20px;
    }
	
    .price-item a.btn {
        display: inline-block;
    }
	
	.owl-client .item img {
		padding: 0 2px;
	}
	
	.menu-area.navbar-fixed-top {
		top: 50px;
	}
	
	.single-testimonial {
		text-align: center;
	}
	
	.single-testimonial img {
		margin: auto;
		display: table;
		float: none;
	}
	
	.single-testimonial i.fa {
		margin-top: 10px;
	}
	
	.right.welcome-control {
		left: auto;
		right: 15px;
	}
	
	.left.welcome-control {
		left: 15px;
	}

	.single-testimonial h4,
	.single-testimonial .desg{
		text-align: center;
	}
	
	.map-area {
		position: relative;
		width: 100%;
	}

	.subscribe-box p {
		margin-bottom: 20px;
	}
    
    .social-link ul li a {
		padding: 0px 40px 10px 0px;
    }
	
	.testor {
		float: none;
		margin-right: 0px; 
		margin-top: 0px;
		margin-bottom: 15px;
	}
	
	.owl-client .item {
		padding: 15px;
	}

}


/* Small Mobile Layout */

@media only screen and (max-width: 480px) {
    

	.caption {
		margin-bottom: 20px;
	}
	
	.single-testimonial img {
        max-width: 100%;
        margin-bottom: 15px;
    }
	
    .single-testimonial i.fa {
        margin-bottom: 15px;
    }
	
	.news-meta span {
		margin-right: 5px;
	}
	
	.comments ul li .comment-box img {
		float: none;
	}
	
	.comments ul li .comment-box .comment-content {
		margin-left: 0px; 
		margin-top: 10px;
	}
	
	.comments ul.depth .comment-box {
		padding-left: 0px;
	}

	.call-text h3 {
	    font-size: 18px;
	    line-height: 27px;
	}
	
    .footer-area {
		text-align: center;
    }
    
   .social-link ul li a {
		padding: 0px 40px 10px 0px;
    }

    .top-social {
        float: none;
    }
	
    .top-contact-info {
	    float: none;
    }
	
    .top-bar{
        text-align: center;
        height: 100px;
    }
	
	.top-contact-info a {
		margin-right: 20px;
	}
    .menu-area.navbar-fixed-top {
		top: 100px;
	}
    
	
	
	

}
