/* INDEX
----------------------------------------------------------------------------------------

01. General css

02. top bar css

03. Navigation area css

04. Slider area css

05. About area css

06. skill area css

07. According area css

08. Service area css

09. fun facts area css

10. latest-project area css

11. choose area css

12. callto-action css

13. Portfolio/work area css

14. Team area css

15. Video area css

16. Pricing area css

17. Testimonial area css

18. blog area css


07. Counter area css

08. Team Area Css

09. Testimonial area css 

10. Pricing area css

11. Calto area css

13. Portfolio/work area css

12. News area css

13. Clients area css

14. Contact area css

15. Google map area css

16. Footer area css

17. Copyright area css

18. Scroll-to-top area css

-------------------------------------------------------------------------------------- */


/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700%7CPoppins:400,400i,500,600,700');

/* ----------------------------------------------------------------------------------------
*                                       01. General css
* -------------------------------------------------------------------------------------- */

html,

body {
    color: #606060;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #414141;
	font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    font-size: 20px;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

input[type='submit'] {
    display: inline-block;
    background: #1ab4f0;
    padding: 10px 25px;
    border-radius: 0px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    color: #fff;
    border: none;
    font-weight: 500;
	font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn{
    display: inline-block;
    padding: 10px 25px;
    font-weight: 500;
	font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
	margin-right: 15px;
    border: 1px solid #fff;
}

.btn-active{
    background: #1ab4f0;
    border-color: #1ab4f0 !important;
}

.btn:hover {
    border-color: #1ab4f0;
    background: #1ab4f0;
    color: #fff;
}

.btn-active:hover {
    background: transparent;
	border-color: #fff !important;
}

.section-top{
	padding-top:95px
}
.section-big {
	padding: 80px 0px 85px;
}

.section-small {
    padding: 50px 0px;
}

.section-title {
    margin: auto;
    max-width: 700px;
}

.section-title h2 {
	font-size: 36px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.section-title h2:before {
    content: '';
    position: absolute;
    width: 70px;
	margin-left: -35px;
    height: 2px; 
	left: 50%;
    bottom: 0px;
    background-color: #1AB4F0;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-60{
    margin-bottom: 60px;
}

.mt-30{
    margin-top: 30px
}

.abt-b{
    margin-top: 20px
}


/* preloader css */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-image: url("../img/preloader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


img {
    max-width: 100%;
}

/* ----------------------------------------------------------------------------------------
*                               02. top bar css
* --------------------------------------------------------------------------------------- */
.top-bar {
    position: relative;
    margin-bottom: -50px;
    height: 50px;
    line-height: 50px;
    z-index: 2;
    background: #333;
    color: #fff;
    overflow: hidden;  
}

.top-social {
	float: left;
}

.top-social a {
    margin-right: 10px;
}

.top-social a i.fa {
	font-size: 16px;
	color: #fff;
}

.top-contact-info {
    font-size: 14px;
    float:right;
}

.top-contact-info a {
	margin-right: 60px;
    color: #fff;
}

.top-contact-info a:last-child {
	margin-right: 0px;
}

.top-contact-info a span {
    margin-right: 5px;
    font-size: 16px;
    border-radius: 2px;
    color: #1AB4F0;
}

.top-social a i.fa:hover {
    color: #1ab4f0;
}

.space {height: 145px}

/* ----------------------------------------------------------------------------------------
*                               03. Navigation area css
* --------------------------------------------------------------------------------------- */

.menu-area.navbar-fixed-top {
    background: #fff;
    top: 50px;
    height: 95px;
}
.menu-area.navbar-fixed-top.sticky-menu {
    top: 0px;
    height: 65px;
}

.sticky-menu {
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.mainmenu {
    padding-top: 10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.sticky-menu .mainmenu {
    padding-top: 0px;
}

.navbar {
    margin-bottom: 0;
    border: 0px;
    margin-top: 13px;
}

.sticky-menu .navbar {
    margin-top: 8px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand:hover {
    color: #82b541;
}

.navbar-nav  li {
    float: none;
    display: inline-block;
	padding: 15px 15px;
}


.navbar-nav li a {
    color: #333;
    font-size: 14px;
	padding: 0px 2px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    background: none;
}

.mainmenu .navbar-nav li.active a {
	border-bottom: 1px solid #1ab4f0;
    color: #1ab4f0
}


/* Mobile Nav css */
.navbar-toggle .icon-bar {
    background: #fff;
}



/* ----------------------------------------------------------------------------------------
*                               04. Slider area css
* -------------------------------------------------------------------------------------- */

#slider,
#slider .carousel,
#slider .carousel .carousel-inner,
#slider .carousel .carousel-inner .item
{
    height: 100%;
    min-height: 650px;
}

.bullets-area {
    position: relative;
    margin-left: 0px;
}

.carousel-indicators {
    bottom: 10px;
    left: 0%;
    margin-left: 0;
    text-align: left
}

#slider .carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #1AB4F0;
    border-radius: 0px;
    background: transparent;
    margin: 0px;
    margin-right: 7px;
}

#slider .carousel-indicators li.active {
    background: #1AB4F0;
}

#slider .carousel-control.right,
#slider .carousel-control.left {
  background-image: none;
}

#slider .carousel .item {
	min-height: 425px;
	height: 100%;
	width:100%;
}

#slider .carousel .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
  -ms-transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.caption-area {
    display: table;
    position: relative;
    min-height: 650px;
	height: 100%;
}

.caption {
    max-width: 650px;
    display: table-cell;
    vertical-align: middle;
}

.caption h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .caption h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .caption p {
        font-size: 16px !important;
        line-height: 24px!important;
    }
	
}

.caption p {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
	margin-bottom: 30px;
}

.caption-area a {
    margin-top: 30px;
}




/* Slide Background Image */
#slider .slide1 {
    background-image: url("../images/buku1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .slide2 {
    background-image: url("../images/buku2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#slider .slide3 {
    background-image: url("../images/buku3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



/* ----------------------------------------------------------------------------
*                               04. About area css
* ----------------------------------------------------------------------------*/

.about-area {
    background: #F1F1F1;
}

.about-text h2 {
    margin-top: 0px;
    display: inline-block;
	font-size: 24px;
}

.about-text .btn {
    margin-top: 15px;
}

.about-img img {
    width: 100%;
}

/* about box */
.about-box {
    margin-top: 20px;
}

.about-box i.fa {
    font-size: 25px;
    float: left;
    width: 40px;
    height: 50px;
	color: #1ab4f0
}

.about-box {
    float: left;

}

.about-box h4 {
    margin-top: 0px;
}

.about-box p {
    overflow: hidden;
}

.btn-about {
	background-color: #1AB4F0;
    border: none;
}
.btn-about:hover {
	color: #333;
}



/* ----------------------------------------------------------------------------------------
*                             06. Skill area css
* --------------------------------------------------------------------------------------- */


.skill {
	padding: 90px 0;
	text-align: center;
}

@media (min-width: 991px) {

	.skill-left {
		padding-right: 60px;
	}
	
}

.skill-bar {
    margin-top: 30px;
}

.skill-bar h4 {
	text-align: left;
    margin-top: 0px;
	font-size: 18px;
}

.skill .row {
	margin-top: 40px;
}

.skillbar {
	position: relative;
	display: block;
	width: 100%;
	background: #fff;
	height: 15px;
	border: 2px solid #e6e6e6;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	font-size: 13px;
	color: #ffffff;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 1);
	padding: 0 20px;
	height: 15px;
	line-height: 15px;
}

.skillbar-bar {
	height: 11px;
	width: 0px;
	background: #1ab4f0;
}

.skill-bar-percent {
	position: absolute;
	right: 0px;
	top: -25px;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	color: #333;
    
}


/* 07.According area css*/

.panel-according .panel-default {
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-top: 30px;
	box-shadow: none;
	border-color: #ddd;
}
.panel-group {
    margin-bottom: 0px;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}

.panel-according .panel-default .panel-heading{
	padding: 0;
}

.panel-according .panel-default .panel-heading {
	position: relative;
	font-size: 14px;
}

.panel-according .panel-default .panel-heading .panel-title a,
.panel-according .panel-default .panel-heading .panel-title a:hover,
.panel-according .panel-default .panel-heading .panel-title a:focus,
.panel-according .panel-default .panel-heading .panel-title a:active {
	background-color: transparent;
	color: #333;
	border: none;
}

.panel-according .panel-default .panel-heading .panel-title .collapsed {
	background-color: transparent;
	padding: 20px 55px;
	color: #333;
}

.panel-according .panel-default .panel-heading .panel-title a {
	padding: 20px 55px;
	display: block;
	border-bottom-color: transparent;
	font-size: 15px;
}

.panel-according > .panel-default > .panel-heading + .panel-collapse > .panel-body,
.panel-according > .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
	padding: 20px 20px;
	background:transparent!important;
}

.according-icon .panel .panel-heading a::after {
	font-family: 'FontAwesome';
	font-size: 14px;
	width: 25px;
	height: 25px;
	line-height: 26px;
	text-align: center;
	top: 15px;
	content: "\f068";
	position: absolute;
	left: 15px;
	background: #1ab4f0;
	color: #fff;
}

.according-icon .panel .panel-heading a[aria-expanded="false"]:after {
    visibility: hidden;
    opacity: 0;
}

.according-icon .panel .panel-heading a::before {
	font-family: 'FontAwesome';
	font-size: 14px;
	width: 25px;
	height: 25px;
	line-height: 26px;
	text-align: center;
	top: 15px;
	content: "\f067";
	position: absolute;
	left: 15px;
	background: #474747;
	color: #fff;
}

.angle-icon .panel .panel-heading a.collapsed:after{
	content: "\f067";
	color: #333333;
}


/* ----------------------------------------------------------------------------------------
*                                   08. Service area css
* --------------------------------------------------------------------------------------- */

.service-area {
    background-color: #F1F1F1;
}

.home-services .service-box {
    padding: 15px 25px;
    border: 1px solid #D7D7D7;
	text-align:center;
    background: #fff;
}

.home-services .service-box:hover {
    color: #fff;
	background: #1AB4F0;
	border-color: #1AB4F0;
	transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
}

.home-services .service-box:hover i.fa{
    color: #fff;	
}

.home-services .service-box:hover.service-box h3 {
    color: #fff;
}

.home-services .service-box i.fa {
	color: #1AB4F0;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 40px;
}

.home-services .service-box h3 {
    margin-top: 0;
    position: relative;
    margin-bottom: 10px;
}


/* ----------------------------------------------------------------------------------------
*                09. fun facts area css
* --------------------------------------------------------------------------------------- */

.fun-facts-area{
    background-image: url("../img/bg/counter-bg.jpg");
    background-size: cover;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
	padding-bottom: 20px;
	color:#fff
    
}

.fun-facts-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26, 180, 240, 0.7)
}

.fun-fact i.fa {
    font-size: 30px;
    position: relative;
    width: 55px;
    height: 55px;
    background: #1ab4f0;
    border-radius: 50px;
    padding-top: 12px;
}

.fun-fact h3 {
    font-size: 50px;
    color: #fff;
    margin-top: 0px;
	line-height: 50px;
    margin-bottom: 20px;
}

.fun-fact p {
	font-size: 20px;
}


/*---------------- OWL CSS---------------*/

.owl-slider owl-carousel owl-theme{
    position: relative;
}

.owl-slider .owl-controls, 
.news-carousel .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;    
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.news-carousel:hover .owl-controls {
    opacity: 1;
}

.owl-slider img {
    width: 100%;
}

.owl-slider .owl-controls {
    opacity: 1;
}

.owl-buttons {
    opacity: 0.9;
}

.owl-buttons i.fa {
    font-size: 25px;
    color: #fff;
    background-color: #333;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transform: translate(0, -50%);
}
.owl-buttons i.fa:hover {
    /*color: #333;*/
    background-color: #1ab4f0;
}

.owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    border: 1px solid #fff;
    background: #fff;
    float: left;
}

.owl-pagination {
    width: 80px;
    margin: auto;
    margin-top: 40px;
}

.owl-page.active span {
    border-color: #0f8bcf;
    background: #0f8bcf;
}

.owl-controls .owl-buttons div {
    font-size: 25px;
    background: none;
}

.owl-prev {
    float: left;
}

.owl-next {
    float: right;
}

.news-carousel .owl-buttons {
    margin: 0 15px;
}

.owl-client .owl-controls {
    display: none;
    visibility: hidden;
    opacity: 0;
}



/* --------------------------------------------------------------------------------
*          10. latest-project area css
* ------------------------------------------------------------------------------- */
.latest-project-area {}

.project-item {
    margin-top: 30px;
    text-align: center;
}

.project-item figcaption {
    display: flex;
    align-items: center;
}

.project-item figcaption .overlay {
    text-align: center;
    width: 100%;
}

.project-item h3 {
    margin-top: 0px;
}

.project-item a i.fa {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    margin: 10px;
}

.service-carousel .owl-item, .news-carousel .owl-item {
    padding: 0 15px;
}

/* ----------------------------------------------------------------------------------------
*            11. choose area css
* --------------------------------------------------------------------------------------- */

.choose-feature .fa {
    font-size: 30px;
    float: left;
    height: 40px;
    margin-right: 20px;
    color: #1ab4f0;
}

.choose-feature h3 {
	font-size: 20px;
    margin-top: 0px;
}

.choose-feature p{
	overflow: hidden;
	margin-bottom: 0px;
}


/* ----------------------------------------------------------------------------------------
*               12. callto-action css
* --------------------------------------------------------------------------------------- */

.callto-action{
    background: #1ab4f0;
}

.call-text h3 {
    color:#fff;
    font-size: 26px;
	font-weight:600;
	margin-bottom: 0px;
    line-height: 35px;
}

.call-text p {
    color: #fff; 
}

.call-button {
    margin-top: 20px;
}

.call-button a.action-button {
    color: #333;
	background: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}

.call-button a.action-button:hover {
    color: #fff;
    background: #333;
}


/* ----------------------------------------------------------------------------------------
*                               06. Portfolio/work area css
* --------------------------------------------------------------------------------------- */
.works {
   
}
.portfolio .mix {
    display: none;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.filters li {
    display: inline-block;
    margin: 0px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #414141;
    text-transform: uppercase;
	font-weight: 600;
}

.filters li.active {
    color: #1ab4f0;
}

.work-items .item {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.work-items .item img {
    width: 100%;
    transition: 0.8s ease-out;
}

.work-items .overlay{
    background-color: rgba(79, 187, 229, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.work-items .item:hover .overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.work-items .item:hover img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.work-items .overlay i.fa {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;    
    padding: 5px 10px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}



/* ----------------------------------------------------------------------------------------
*                                07. Team area css
* --------------------------------------------------------------------------------------- */
.team-area{
	background: #f1f1f1;
}
.team-member{
    text-align: center;
    transition: 0.3s ease-out;
    position: relative;
    overflow: hidden;
	margin-top: 30px
}

.member-image img{
    width: 100%;
}

.member-info {
    transition: 0.3s ease-out;
}

.team-member h3{
    margin-bottom: 5px;
}

.member-info .text-muted {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.member-social a{
    position: relative;
    margin: 10px 0px;
}

.member-social i.fa {
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #333;
}

.member-hover {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	background-color: rgba(26, 180, 240, 0.90);
	color: #fff;
	text-align: center;
	transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;

}

.hover-text {
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translate(-0%, -50%);
}

.team-member:hover .member-hover {
    opacity: 1;
    height: 100%;
}

.member-hover h3,
.member-hover .text-muted,
.member-hover i.fa {color: #fff;}
.member-hover i.fa:hover {color: #333;}
.member-hover .member-social {
    margin: 15px auto;
}
.member-hover p {
    text-align: left;
}
.member-hover .text-muted {
    text-align: center;
}



/* ----------------------------------------------------------------------------------------
*            15. Video area css
* --------------------------------------------------------------------------------------- */

.video-area {
    background-image: url("../img/bg/video-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding: 120px 0px;
}

.video-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.video-content {
    position: relative;
}

.video-content h2 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 20px;
}

.video-content i.fa {
    color: #fff;
    background:#1AB4F0;
    border-radius: 100px;
    font-size: 50px;
    padding: 30px 0px 30px 15px;
    width: 110px;
    height: 110px;

}

.video-content i.fa:hover {
    color: #333;
}


/* ----------------------------------------------------------------------------------------
*                                   10. Pricing area css
* --------------------------------------------------------------------------------------- */
.pricing-area {
	
}

.single-item-table {
    background: #fff;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e4e4e4!important;
}

.table-heading {
    background: #2c3038;
    color: #fff;
    font-size: 24px;
	font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;
    text-transform: uppercase;
}

.table-heading p{
    margin: 0;
}

.rate {
    line-height: 100px;
    border-bottom: 1px solid #eee;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.rate .number {
	font-size: 36px;
	color: #414141;
	font-weight: 700;
}

.description{
    margin: 0px;
}

.description ul {
    margin-left: 0;
    list-style: none;
}

.description li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.designation p {
    margin-bottom: 0px;
}

.single-item-table a.btn {
    margin-top: 17px;
	background: #2c3038;
	border: none;
}
.single-item-table a.btn:hover {
    border: none;
	background: #1AB4F0;
}

.single-item-table .premium {
    color: #fff;
	background: #1AB4F0;
}

.single-item-table .premium-bt {
    color: #fff;
	background: #1AB4F0 !important;
}


/* ----------------------------------------------------------------------------------------
*                17. Testimonial area css
* --------------------------------------------------------------------------------------- */
.testimonial-area {
    background-color: #888;
    background-image: url("../img/bg/testimonial-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: #fff;
}

.testimonial-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
}

.testimonial-text p {
    line-height: 27px;
    font-size: 16px;
    font-style: italic;
}

.testimonial-text i.fa{
    color:#1AB4F0;
}

.testor {
    float: left;
    margin-right:30px;
	margin-top: 5px;
}

.testor img {
    border-radius: 50%;
    border: 1px solid #1AB4F0;
}

.testimonial-text {
    overflow: hidden;
}

.testimonial-text p {
    font-style: italic;
}

.testimonial-text h4 {
    margin-top: 30px;
    margin-bottom: 3px;
    letter-spacing: 1px;
    text-align: right;
	color: #fff
}

.testimonial-text h4 span {
	color: #1AB4F0;
	font-size: 15px;
}

.testimonial-list .owl-controls .owl-pagination .owl-page span{
    background: transparent;
    border: 1px solid #1AB4F0;   
}

.testimonial-list .owl-controls .owl-pagination .owl-page.active span{
    background-color: #1AB4F0;
}



/* ----------------------------------------------------------------------------------------
*                                   12. News area css
* --------------------------------------------------------------------------------------- */
.news-area {}

.single-news {
    margin-top: 30px;
}

.news-image img {
    width: 100%;
}
.news-content .subtitle {
    text-transform: uppercase;
    line-height: 28px;
	margin-top: 20px;
}
.news-content .subtitle i.fa {
    color: #72b443;
}
.news-content .btn {
    margin-top: 10px;
    border: none;
    background: #1ab4f0;
    color: #fff;
}

.modal-body button.btn {
   background: #1ab4f0;
   border: none;
}
.modal-body button.btn:hover {
   color: #333;
   border: none;
}

.news-content .btn:hover {
    color: #333;
}

.news-meta {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
    color: #1ab4f0;
}

.news-meta span {
    float: left;
    margin-right: 15px;
}

.news-meta span i.fa {
    margin-right: 4px;
}


/* news Modal css */
.news-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
}

.news-modal .modal-content h2 {
    margin-bottom: 25px;
    line-height: 35px;
	margin-top: 20px;
	text-transform: uppercase;
}

.news-modal .modal-content img {
    width: 100%;
    height: auto;
}

.news-modal .modal-content .item-details {
    margin: 30px 0
}

.news-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.news-modal .close-modal:hover {
    opacity: .3
}

.news-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.news-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.news-modal .modal-backdrop {
    opacity: 0;
    display: none
}




/* ----------------------------------------------------------------------------------------
*                                19. Subscribe area css
* --------------------------------------------------------------------------------------- */
.subscribe-area {
    background-color: #F1F1F1;
}
.subscribe-box h2 {
    margin-top: 0px;
    font-size: 22px;
}
.subscribe-box h2 span {
    color: #1ab4f0;
}
.newsletter-form {
    margin: auto;
}
.newsletter-form input{
    display: inline-block;
    height: 50px;
    width: 70%;
    padding: 5px 10px;
    background: #fff;
    float: left;
}

.newsletter-form .mc-submit {
    height: 50px;
    width: 30%;
    color: #fff;
    background-color: #1ab4f0;
    border: none;
    font-size: 15px;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    text-transform: uppercase
}

.newsletter-form .mc-submit:hover {
    color: #333;
}
.subscribe-area .error {
    text-align: left;
}
.mailchimp-alerts {
    display: block;
    width: 100%;
    text-align: left;
}

.mailchimp-success{
    color: green;
}
.mailchimp-error{
    color: red;
}


/* ----------------------------------------------------------------------------------------
*           20. Google Map area css
* --------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------
*                                   16. Google Map area css
* --------------------------------------------------------------------------------------- */

.map-contact-area {
	background: #2c3038;
	position: relative;
}

#contactgoogleMap {
    height: 485px;
}

.map-area {
    position: absolute;
    right: 0px;
    top: 0;
    width: 50%;
}

.contact-form {
	padding: 95px 0px;
	margin-right: 15px;
}

.contact-form .form-group {
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
	box-shadow: none;
}

.contact-form input[type="email"],.contact-form-area input[type="text"],.contact-form-area input[type="tel"],
.contact-form textarea,::-webkit-input-placeholder {
	color: #fff !important;
}

.contact-form .form-control {
	background-color: transparent;
	display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #fff !important;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
}

.contact-form .small {
    margin-top: 25px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.contact-form .small:hover {
    background: #fff;
    color: #333;
}

.contact-form .form-control:focus{
	box-shadow:	none;
}


/* ----------------------------------------------------------------------------------------
*                                14. Subscribe area css
* --------------------------------------------------------------------------------------- */

.subscribe-area {
	background-color: #f1f1f1;
}

.subscribe-box {}

.subscribe-box h2 {
	margin-top: 0px;
	font-size: 22px;
	font-weight: 600;
}

.subscribe-box h2 span {
	color: #1AB4F0;
}

.subscribe-box p {
    margin-bottom: 0px;
}

.newsletter-form {
	margin: auto;
	/* border: 1px solid #ddd; */
}

.newsletter-form input {
	display: inline-block;
	height: 50px;
	width: 70%;
	padding: 5px 10px;
	background: #fff;
	color: #333!important;
	float: left;
	border:none;
}

.subscribe-box .newsletter-form input[type="email"]::-webkit-input-placeholder{
	color: #333 !important;
}

.newsletter-form .mc-submit {
	height: 48px;
	width: 30%;
	color: #fff;
	border: none;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	margin-top: 1px;
}

.newsletter-form .mc-submit:hover {
	color: #333;
}
.newsletter-form .form-control:focus{
	box-shadow: none;
}

.subscribe-area .error {
	text-align: left;
}
.mailchimp-alerts {
	display: block;
	width: 100%;
	text-align: left;
}

.mailchimp-alerts div {}

.mailchimp-submitting {}

.mailchimp-success {
	color: green;
}

.mailchimp-error {
	color: red;
}


/* ----------------------------------------------------------------------------------------
*                                   13. Client area css
* --------------------------------------------------------------------------------------- */

.owl-client .item img {
    width: auto;
    max-width: 100%;
}

.client-area {
    background: #f5f5f5;
}

.owl-client .item {
    
    margin-right: 10px;
    border: 1px solid #171718;
    padding: 30px;
}



/* ----------------------------------------------------------------------------------------
*                                   17. Footer area css
* --------------------------------------------------------------------------------------- */

.footer-area {
	background: #2C3038;
	color: #fff;
	font-size: 14px;
	padding: 50px 0 20px;
}
.responsive-30{
	margin-bottom: 30px;
}
.footer-area h4 {
	color: #fff;
	margin-top: 0px;
	margin-bottom: 25px;
}

.logo img {
	margin-bottom: 15px;
}

.footer-info a {
    color: #fff;
}
.footer-info a:hover {
    color: #1ab4f0;
}

.footer-info i.fa {
    width: 25px;
    padding: 0;
    margin: 0;
}

.subcriber-box {
	margin-top: 20px;
}

.social-link{
    
}

.social-link ul{
    list-style: none;
}

.social-link li {
    float: left;
    width: 50%;
    margin-bottom: 10px;
}

.social-link ul li a {
    color: #fff;
}
.social-link ul li a:hover{
	color: #1ab4f0;
}

.social-link i.fa {
    width: 20px;
}

.social-link ul li a span{
    margin-right: 10px ;
    
}



/* ----------------------------------------------------------------------------------------
*                                   17. copyright area css
* --------------------------------------------------------------------------------------- */
.copyright-area {
	padding: 20px 0px;
	background: #1B1E25;
	color: #fff;
	font-size: 14px;
}

.copy-right p { 
    margin: 0px;
}


/* ----------------------------------------------------------------------------------------
*                                   18. Scroll-to-top area css
* --------------------------------------------------------------------------------------- */

#scroll-to-top{
    background-color: #1AB4F0;
    display: none;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}

#scroll-to-top:hover{
    background-color: #2c3038;
    color: #fff;
}


/** form field **/
#wrapper{
    width:100%;
    margin: 0 auto;
}

#form-register {
    display: block;
    margin: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font-size: 0;
}

#form-register> div > label {
    display: block;
    padding: 20px 20px 10px;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #939393;
    cursor: pointer;
}

#form-register > div.switch > label {
    padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 {
    border-bottom: 1px solid #e4e4e4;
}

#form-register > div > .col-4 {
    height: 86px;
}

label > input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    color: #555;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
    transition: all linear .3s;
}

.col-submit {
    text-align: center;
    padding: 20px;
}

label > select {
    display: block;
    width: 100%;
    padding: 0;
    color: #555;
    margin: 16px 0 6px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    opacity: .4;
    transition: all linear .3s;
}

label > input:focus, label > select:focus {
    opacity: 1;
}



/** button design based on http://codepen.io/guvootes/pen/eyDAb **/
button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    outline: none;
}

button.submitbtn {
    background-image: -moz-linear-gradient(#97c16b, #8ab959);
    background-image: -webkit-linear-gradient(#97c16b, #8ab959);
    background-image: linear-gradient(#97c16b, #8ab959);
    border-bottom: 1px solid #648c3a;
    cursor: pointer;
    color: #fff;
}
button.submitbtn:hover {
    background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
    background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
    background-image: linear-gradient(#8ab959, #7eaf4a);
}
button.submitbtn:active {
    height: 34px;
    border-bottom: 0;
    margin: 1px 0 0 0;
    background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
    background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
    background-image: linear-gradient(#7eaf4a, #8ab959);
    -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}


/** responsive design **/
@media(min-width: 850px){
    form > div { display: inline-block; }
    .col-submit { display: block; }

    .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }

    .col-2 { width: 50% }
    .col-3 { width: 33.3333333333% }
    .col-4 { width: 25% }

    .col-submit button { width: 30%; margin: 0 auto; }
}